
body {

    background-image: url(../assets/images/red-brick-wall-pattern-1.jpg);
}

.jumbotron {
    background-color: #fbf9d3;
    background-image: url(../assets/images/background3.jpg);
    background-position: top center;
    background-size: cover;
    height: 431px;
    
}

.container {
    background-color: #fbf9d3;
}

.remove {
    
    border: none;
    border-radius: 3px;
    padding: 0 10px;
    background-color: #b48a64;

}

.btn {
    background-color: #b48a64;
}